.loginPanel input[type="text"],.loginPanel input[type="email"],.loginPanel input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.loginPanel .remMe {
    height: 45px;
    padding-top: 20px;
    font-size: 16px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#goToLogin, #goToReg {
    font-size: 18px;
    justify-self: center;
}

#goToLogin.active, #goToReg.active {
    font-size: 24px;
    color: #029f5b;
}

.loginPanel input:hover,
.loginPanel input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}