.navbar-toggler .icon-bar {
    background-color: #888;
}
.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
    background: transparent !important;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.icon-bar {
    width: 22px;
    transition: all 0.2s;
}

.top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.middle-bar {
    opacity: 0;
}
.bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}