.qNav {
    background-color: #2a3d5b;
    width: 100%;
}

.qNav > a, li {
    color: white !important;
}

.underDiv {
    margin-top: 15px;
}

.quizInfoView {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid;
}

.proBtn {
    color: #029f5b;
    background-color: transparent;
    border: 1px solid !important;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2px;
    margin-left: 2px;
}

select {
    font-size: 14px !important;
}

.proBtn:hover {
    background-color: #029f5b;
    color: white;
}

.btn-outline-success:hover {
    background-color: transparent;
}

.swal2-styled {
    width: 120px !important;
    text-align: center !important;
}

@media (min-width: 992px) {
    #navbarSupportedContent .mainNav {
        display: flex !important;
    }

    .descriptionInp {
        padding-bottom: 0;
    }

    .quizForm {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        padding-top: 50px;
    }

    .quizInpGroup {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 992px){
    .mobile-hidden {
        display: none;
    }
}

.searchbar {
    width: 400px !important;
    text-align: center;
    margin: 10px;
}
